extends layout
block content
    header(container).container
        h1 Notes Board

        nav
            ul.nav
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href='#' data-toggle="modal" data-target="#update-modal") Update
                li.nav-item
                    a.nav-link(href=`/note/delete/${note.slug}`) Delete

    main(container).container.note-content
        include components/note

    .modal.modal-dialog.modal-dialog-centered.fade#update-modal
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Update
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;

                form(action=`/note/${note.slug}` method='PUT').note-form#note-form
                    .modal-body
                        p: input(name='noteTitle' type='text' value=note.title)
                        p: input(name='noteDescription' type='text' value=note.description)
                        p: textarea(name='noteContent')= note.content
                    .modal-footer
                        button(type="button" class="btn btn-secondary" data-dismiss='modal') Close
                        input(type='submit' class="btn btn-primary" value='Update')
